@{ 
    Layout = "Layout";
}
@model ChatRoom

    @*@if (Model.ChatType == ChatType.Ephemeral)
    {
        <h2>Messages in Ephemeral rooms like this one aren't saved</h2>
    }*@
    <div id="root"></div>
    <div id="roomName" hidden>Test Room</div>

@section Scripts {
    <script>
        const _roomName = @Html.Raw(Json.Serialize(Model.RoomName));
        const roomName = @Html.Raw(Json.Serialize(Model.RoomName));
        const _user = @(_signInManager.IsSignedIn(User) ? Html.Raw(Json.Serialize(User.Identity.Name)) : Html.Raw(Json.Serialize("Anonymous")));
        const _displayName = _roomName;
    </script>
    <script src="~/js/dist/displayChatRoom.bundle.js"></script>

}
