@{ 
    Layout = "Layout";
}
@model ChatRoom

@*<div class="content">*@
    <div id="root"></div>
    <div id="roomName" hidden>Test Room</div>
@*</div>*@

@section Scripts {
    <script>
        const _roomName = @Html.Raw(Json.Serialize(Model.RoomName));
        const roomName = @Html.Raw(Json.Serialize(Model.RoomName));
        const _user = @(_signInManager.IsSignedIn(User) ? Html.Raw(Json.Serialize(User.Identity.Name)) : Html.Raw(Json.Serialize("Anonymous")));
        const _displayName = _roomName;
    </script>
    <script src="~/js/dist/displayChatRoom.bundle.js"></script>

}
