@model List<User>
@{ 
    Layout = "Layout";
}

@*<h1>My Friends</h1>*@

@*<div class="container">
    @foreach (var user in Model)
    {
        <div class="card">
            <div class="card-header">
                @user.UserName
            </div>
            <div class="card-body">
                <a class="btn btn-primary" asp-controller="chat" asp-action="DisplayPrivateChat" asp-route-friendId="@user.Id">Go to chat</a>
            </div>
        </div>
    }
</div>*@

<div class="main-container">
    <div id="root"></div>
</div>

@section Scripts {
    <script src="~/js/dist/displayAllPrivateChats.bundle.js"></script>
}