
<h1>Joined rooms</h1>
<h3>
    Private/Friends Chats: 
    <a href="/Chat/DisplayAllPrivateChats">Friends</a>
</h3>

<div class="main-container">
    <div id="root"></div>
</div>

@section Scripts
{
    <script src="~/js/dist/displayRoomsContainingUser.bundle.js"></script>
}