
<h1>Rooms created by me /Invite only/</h1>

<div class="main-container">
    <div id="root"></div>
</div>

@section Scripts
{
    <script src="~/js/dist/displayRoomsCreatedByUser.bundle.js"></script>
}