@{ 
    Layout = "Layout";
} 
@model List<ChatRoom>

<div class="main-container">
    <h2 class="text-danger">You must join a room in order to receive notifications from that room</h2>
    <div id="root"></div>
</div>

@section Scripts
{
    <script src="~/js/dist/displayRooms.bundle.js"></script>
}
