@*@model List<User>*@
@{ 
    Layout = "Layout";
}

<div class="main-container">
    <div id="root"></div>
</div>

@section Scripts {
    <script src="~/js/dist/displayAllPrivateChats.bundle.js"></script>
}