<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatDemoSignalR</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/chat.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="~/css/navigation.css" />
    <link rel="stylesheet" href="~/css/notifications.css" />
    <link rel="stylesheet" href="~/css/displayRooms.css" />
    <link rel="stylesheet" href="~/css/input.css" />
    <link rel="stylesheet" href="~/css/pagination.css" />
    <link rel="stylesheet" href="~/css/cardStyles.css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
</head>
<body>

    <header>
        <h1 class="logo">Logo</h1>
        <input type="checkbox" id="nav-toggle" class="nav-toggle" />
        <input type="checkbox" id="notification-trigger" class="notification-trigger" />
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Chat" asp-action="PersonalPage">Personal Page</a></li>
                <li><a asp-controller="Chat" asp-action="DisplayRooms">Chat Rooms</a></li>
                @if (_signInManager.IsSignedIn(User))
                {
                    <li><a href="#">Signed in as: @User.Identity.Name</a></li>
                    <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                }
                else
                {
                    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                    <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                }
            </ul>
        </nav>
        <div class="notification-bubble">
            <label for="notification-trigger" @*class="notification-trigger-label"*@>
                <img class="img" src="~/images/globe_icon.png" id="notification-image" alt="notifications" />
            </label>
            
            <div id="notifications"></div>
        </div>
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
    </header>


    <div class="main-container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/js/dist/notifications.bundle.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>