@model CreateRoleVM

<div id="root"></div>

@*<div class="center-div">
    <form asp-action="CreateRole" asp-controller="Administration">
        <div class="form">
            <input id="name" name="name" asp-for="@Model.RoleName" class="form-input" placeholder=" "/>
            <label for="name" class="form-label">Role Name</label>
        </div>
        <button type="submit" class="form-button">Create Role</button>
    </form>
</div>*@

@section Scripts
{
    <script src="~/js/dist/createRole.bundle.js"></script>
}