@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">
    <div class="center-div">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>

        <div class="text-center">
            <div class="form">
                <input type="text" id="email" class="form-input" autocomplete="off" placeholder=" " />
                <label for="email" class="form-label">Email</label>
            </div>
        </div>

        <a class="btn btn-success" asp-controller="Home" asp-action="TestView">Go to Test View</a>

        <a class="btn btn-success" asp-controller="JoinRoomRequest" asp-action="Index">Received Join room requests</a>

        <a class="btn btn-success" asp-controller="Chat" asp-action="DisplayRoomsCreatedBy">Rooms created by me</a>

        <a class="btn btn-success" asp-controller="Chat" asp-action="DisplayRoomsContainingUser">Rooms I've joined</a>

        <a class="btn btn-success" asp-controller="Chat" asp-action="DisplayAvailableRooms">Rooms available to join</a>

        <a class="btn btn-success" asp-controller="FriendRequest" asp-action="ListAvailable">Available users</a>

        @*<a class="btn btn-success" asp-controller="" asp-action=""></a>*@

        <div id="root">

        </div>
    </div>
</div>

@*@section Scripts {
    <script src="~/js/dist/main.bundle.js"></script>
    <script>
        $.get('/Chat/GetAllUsers', function (list) {
            console.log('list received:');
            console.log(list);
        }).catch(function (error) {
            console.log(error);
        });
    </script>
}*@
