
<h2>Cards: </h2>

<div class="card-container">
    <div class="card-rainbow">
        <div class="card-face card-face1">
            <div class="card-content">
                <span class="stars"></span>
                <h2 class="card-header">Header</h2>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
            </div>
        </div>
        <div class="card-face card-face2">
            <h2>01</h2>
        </div>
    </div>

    <div class="black-card">
        <div class="card-box">
            <div class="card-content">
                <h2>01</h2>
                <h3>Card one</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Labore, totam velit? Iure nemo labore inventore?
                </p>
                <a href="#">Read more</a>
            </div>
        </div>
    </div>

    <div class="expanding-card">
        <div class="card-face card-face1">
            <div class="card-content">
                <img src="~/images/globe_icon.png" />
                <h3>Test</h3>
            </div>
        </div>
        <div class="card-face card-face2">
            <div class="card-content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
                    cum cumque minus iste veritatis provident at.
                </p>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>

    <div class="black-card">
        <div class="card-box">
            <div class="card-content">
                <h2>03</h2>
                <h3>Card one</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Labore, totam velit? Iure nemo labore inventore?
                </p>
                <a href="#">Read more</a>
            </div>
        </div>
    </div>

    <div class="black-card">
        <div class="card-box">
            <div class="card-content">
                <h2>04</h2>
                <h3>Card one</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Labore, totam velit? Iure nemo labore inventore?
                </p>
                <a href="#">Read more</a>
            </div>
        </div>
    </div>

    <div class="black-card">
        <div class="card-box">
            <div class="card-content">
                <h2>05</h2>
                <h3>Card one</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Labore, totam velit? Iure nemo labore inventore?
                </p>
                <a href="#">Read more</a>
            </div>
        </div>
    </div>

</div>