
:root {
    --background: rgba(0, 214, 170, 1);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    /*margin: 0 0 20px 0;*/
    background: rgb(24, 24, 24);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

/* fix navbar hiding content */

.main-container {
    /*margin-top: 5rem;*/
    position: relative;
    margin: 7rem 0 0 0;
    font-size: 1.2em;
    height: calc(100vh - 9rem);
    color: #fff;
}

.content {
    margin: 2rem;
}

/* navigation styles start */

header {
    left: 0;
    top: 0;
    background: var(--background);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;

    display: grid;
    grid-template-columns: 1fr auto;
}

.notification-bubble {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .notification-bubble label {
        /*background: #D6002B;*/
        height: 4.5rem;
        width: 4.5rem;
        /*border-radius: 50%;*/
    }

.nav-toggle {
    display: none;
}

.notification-trigger {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #fff;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    /*transform-origin: top;*/
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.notification-trigger:checked ~ .notification-bubble > #notifications > .notifications-box {
    transform: scale(1, 1);
    transition: transform 200ms ease-in-out;
}

    .notification-trigger:checked ~ .notification-bubble > #notifications > .notifications-box .notification {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }


@media screen and (min-width: 768px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 4fr) 1fr;
    }

    .logo {
        grid-column: 2 / span 1;
    }

    .notification-bubble {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;

        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}